<!-- <p>nav-bar works!</p> -->

<mat-toolbar color="" class="nav_bar">
  <div class="header">
    <fa-icon [icon]="faShoppingCart" class="logo"></fa-icon>
    <span>Freshi Barida</span>
  </div>

  <form action="" class="search-box-container">
    <input type="search" id="search-box" placeholder="search for a product..." class="input">
    <label for="search-box" class="search">
      <fa-icon [icon]="faSearch" style="padding: 10px; border-color: #D6D5D7;"></fa-icon>
    </label>
  </form>
</mat-toolbar>

<mat-toolbar color="" class="bottom_bar">

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="menu_icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div class="nav-item">
      <fa-icon [icon]="faHome"></fa-icon>
      <a class="nav-link active" href="#home">Home</a>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="faShoppingBasket"></fa-icon>
      <a class="nav-link" href="#products" (click)="goToPage()">Products</a>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="faGift"></fa-icon>
      <a class="nav-link" href="#About">About Us</a>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="faPhone"></fa-icon>
      <a class="nav-link" href="#contacts" tabindex="-1" aria-disabled="true">Contact</a>
    </div>

  </mat-menu>

  <nav class="navbar">
    <a href="#home">Home</a>
    <a href="#product">Product</a>
    <a href="#About">About Us</a>
    <a href="#contact">Contact</a>
  </nav>

  <div class="icons">
    <fa-icon [icon]="faCartArrowDown" class="logo2"></fa-icon>
    <fa-icon [icon]="faHeart" class="logo2"></fa-icon>
      <fa-icon [icon]="faUserCircle" class="logo2" (click)="Logout()" >
      </fa-icon>


  </div>
</mat-toolbar>