.formcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.form-btn{
    background-color: #63A96B;
    border: #63A96B;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 23px;
    width: 50%;
}
.extrs{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    color: cornflowerblue;
}

.formbody{
    display: flex;
    // width: 290px;
    width: 30%;
    // min-height: 200px;
    height: fit-content;
    background-color: white;
    box-shadow:0 5px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px;
}
@media screen and (max-width: 768px) {
    .formbody{
        width:55%
    }
}



  .header{
      font-size: 2rem;
      text-align: center;
      margin-bottom: 20px;      
  }

div > span {
    font-size: 0.75rem;
    color: firebrick;
}