<section class="container">
   
    <div class="content">
        <span>Organic Fresh Products</span>
        <h3>All you need in one place</h3>
        <button class="home_button">Get Started</button>
    </div>
    <div class="home_img">
        <img src="../../../assets/images/home_pic.png" alt="">
    </div>
</section>

<section class="banner_container">
    <div class="banner">
        <img src="../../../assets//images/banner-1.jpg" alt="">
        <div class="content">
            <h3 class="title2">Special Offer</h3>
            <span class="title1">Upto 45% off</span>
            <button class="banner_button">Checkout</button>
        </div>
    </div>

    <div class="banner" style="background-color: blue;">
        <img src="../../../assets/images/banner-2.jpg" alt="">
        <div class="content">
            <p class="title2">Limited Offer</p>
            <span class="title1">Upto 50% off</span>
            <button class="banner_button">Checkout</button>
        </div>
    </div>
</section>

<section class="category">
    <h1 class="heading">Shop by <span>category</span> </h1>
    <div class="box_container">
        <div class="box">
            <h3>Vegetables</h3>
            <p>Upto 50% off</p>
            <img src="../../../assets/images/category-1.png" alt="">
            <button class="banner_button">Shop now</button>
        </div>
        <div class="box">
            <h3>Juice</h3>
            <p>Upto 44% off</p>
            <img src="../../../assets/images/category-2.png" alt="">
            <button class="banner_button">Shop now</button>
        </div>
        <div class="box">
            <h3>Meat</h3>
            <p>Upto 44% off</p>
            <img src="../../../assets/images/category-3.png" alt="">
            <button class="banner_button">Shop now</button>
        </div>
        <div class="box">
            <h3>Fruit</h3>
            <p>Upto 44% off</p>
            <img src="../../../assets/images/category-4.png" alt="">
            <button class="banner_button">Shop now</button>
        </div>
    </div>

</section>