<!-- <div class="container">
    <div class="headerbar">
      <span>Shoppy Land</span>
    </div>
    <div class="boom">
      <h1>Hello {{username}}</h1> <h2>you have successfully logged in using JWT.</h2>
      
      <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    </div>
  </div> -->

  <div>

  </div>

  <!-- <header>
    <div class="header-1">
        <a href="#" class="logo"><i class="fas fa-shopping-basket"></i>Shoppy Land</a>
        <form action="" class="search-box-container">
            <input type="search" id="search-box" placeholder="search here...">
            <label for="search-box" class="fas fa-search"></label>
        </form>
    </div>

    <div class="header-2">
        <div id="menu-bar" class="fas fa-bars"></div>
        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#category">category</a>
            <a href="#product">product</a>
            <a href="#deal">deal</a>
            <a href="#contact">contact</a>
        </nav>

        <div class="icons">
            <a href="#" class="fas fa-shopping-cart"></a>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-user-circle"></a>
        </div>

    </div>

</header> -->
